*,*:before,*:after {
    box-sizing: border-box;
}

header {
    background-color: #ffffff;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.05);
    gap: 10px;
}

body {
    background-color: #f5f5f5;
    min-width: 1200px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #000;
}

h1, h2, h3, h4, p {
    margin: 0px;
}

h1, h2, h3 {
    font-family: 'Onest';
}

h1 {
    font-size: 36px;
    font-weight: 800;
    padding-bottom: 30px;
}

h2 {
    padding-bottom: 30px;
    font-size: 30;
    font-weight: 700;
}

h3 {
    font-size: 22px;
    padding-bottom: 15px;
}

h4 {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 36px;
    padding-bottom: 20px;
}

p {
    font-family: 'Georgia';
    font-size: 22px;
    line-height: 135%;
    padding-bottom: 15px;
}

.closing {
    padding-bottom: 0px;
}

.example {
    opacity: 70%;
}

.subheadText {
    font-family: 'Onest';
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
}

header .links li {
    display: inline-block;
    font-family: 'Onest';
    font-size: 24px;
    padding: 8px 30px;
}

header .links li a {
    transition: all 0.7 ease;
}

header .links li a:hover {
    color: #B297FF;
}

.links {
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    gap: 10px;
}

.container {
    width: 1200px;
    padding: 0px 20px;
    margin: 0 auto;
}

#main {
    margin-top: 40px;
    margin-bottom: 20px;
}

#altMain {
    background-color: #ffffff;
    padding-top: 130px;
    padding-bottom: 130px;
}

#content {
    margin-bottom: 20px;
}

.subInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.set {
    background-color: #ffffff;
    padding: 40px;
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.block {
    margin-bottom: 50px;
}

/*.closingBlock {
    margin-bottom: 0px;
}*/

.holder {
    padding: 15px 25px;
    background-color: #FFF1F1;
    border-left: 3px solid #FF9C9C;
    margin-bottom: 15px;
}

.holder p {
    padding-bottom: 0px;
}

.markableBig {
    display: flex;
    justify-content: center;
    width: 240px;
    font-family: 'Onest';
    font-size: 16px;
    color: #ffffff;
    padding: 8px 10px;
    border-radius: 8px;
    background-color: #2C2C2C;
    margin-bottom: 15px;
}

.marker {
    padding: 2px;
}

.langGroup {
    display: flex;
    gap: 30px;
    margin-bottom: 15px;
}

.partHolder {
    padding: 15px 20px;
}

.linkCont {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 400px;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
}

.linkCont:hover .arrow {
    transform: translate(20px);
}

.mini, .altMini {
    /*display: flex;*/
    padding: 8px 25px 8px 25px;
    border-radius: 15px;
}

.mini {
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.05);
}

.altMini {
    background-color: #E6E6E6;
}

.line {
    height: 0px;
    border: 1.5px solid rgba(0, 0, 0, 0.5);
}

.navig {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navButton {
    padding: 10px 28px 10px 18px;
    display: flex;
    gap: 8px;
}

.navButton:hover .polygon {
    transform: translate(6px);
}

#vocabulary, #phonetics, #grammatics {
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
}

#vocabulary {
    width: 166px;
    background-color: #FFEAEA;
}

#phonetics {
    width: 182px;
    background-color: #EBFFEA;
}

#grammatics {
    width: 206px;
    background-color: #EAEAFF;
}

.polygon {
    border-top: 12px solid transparent;
    border-left: 24px solid #9CFF97;
    border-bottom: 12px solid transparent;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.arrow {
    border: 20px solid transparent;
    display: inline-flex;
    border-left: 20px solid gray;
    border-right: none;
    height: 24px;
    transition: all 0.4s ease;
}

footer {
    margin-bottom: 120px;
}

